<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/form-book.css">
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Modificar</title>
    
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <ul class="nav">
                <li><a th:href="@{/index}">Inicio</a></li>
                <li><a th:href="@{/client/list}">Ver clientes</a></li>
                </ul>
            </nav>
        </header>

        <section class="title">
            <h1>Modificación de clientes</h1>
        </section>

        <div class="clearfix"></div>

        <section class="form">
            
            <div th:if="${exito}!=null" class="card text-white bg-success mb-3" >
	<div class="card-body">
		<h5 class="card-title">Éxito</h5>
		<p class="card-text" th:text="${exito}"></p>
	</div>
            </div>
	<div th:if="${error}!=null" class="card text-white bg-danger mb-3" >
		<div class="card-body">
			<h5 class="card-title">Error</h5>
			<p class="card-text" th:text="${error}"></p>
		</div>
	</div>
            
<!--            <p th:if="${error != null}" th:text="${error}" style="color: red;"></p>-->

            <form th:action="@{/client/modify/__${cliente.id}__}" method="POST">

            <label>DNI:</label>
            <br>
            <input type="number" class="l" name="dni" th:value="${cliente.dni}" placeholder="DNI...">
            <br>
            <label>Nombre/s:</label>
            <br>
            <input type="text" class="l" name="nombre" th:value="${cliente.nombre}" placeholder="Nombre...">
            <br>
            <label>Apellido/s:</label>
            <br>
            <input type="text" class="l"  name="apellido" th:value="${cliente.apellido}" placeholder="Apellido...">
            <br>
            <label>E-mail:</label>
            <br>
            <input type="email" class="l" name="email" th:value="${cliente.email}" placeholder="E-mail..." >
            <br>
            <label>Teléfono:</label>
            <br>
            <input type="number" class="l"  name="te" th:value="${cliente.te}" placeholder="Teléfono...">
            <br>
            <label>Contraseña: </label>
            <br>
            <input type="password" class="l"  name="pw1" th:value="${pw1}" placeholder="Contraseña...">
            <br>
            <label>Repetir contraseña: </label>
            <br>
            <input type="password" class="l"  name="pw2" th:value="${pw2}" placeholder="Contraseña...">
            <br>
            
            <section class="button">                
            <button class="save" type="submit">Guardar</button>
            <button class="delete" type="reset">Resetear</button>
            </section>
        </form>
        </section>
    </div>
    
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>