<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/form-edit.css">
    
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Registrar editorial</title>
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <ul class="nav">
                <li><a th:href="@{/index}">Inicio</a></li>
                <li><a th:href="@{/editorial/list-edit}">Ver editoriales</a></li>
                </ul>
            </nav>
        </header>

        <section class="title">
            <h1>Registro de editoriales</h1>
        </section>

        <div class="clearfix"></div>

        <section class="form">
            
             <div th:if="${exito}!=null" class="card text-white bg-success mb-3" >
	<div class="card-body">
		<h5 class="card-title">Éxito</h5>
		<p class="card-text" th:text="${exito}"></p>
	</div>
            </div>
	<div th:if="${error}!=null" class="card text-white bg-danger mb-3" >
		<div class="card-body">
			<h5 class="card-title">Error</h5>
			<p class="card-text" th:text="${error}"></p>
		</div>
	</div>
           
            <form class="formMarg" th:action="@{/editorial/form-edit}" method="POST">
            <label>Nombre:</label>
            <br>
            <input class="l1" id="nombre" type="text" name="nombre" th:value="${nombre}">
            <br>
            <section class="button">
            <button class="save" type="submit">Guardar</button>
            <button class="delete" type="reset">Resetear</button>
            </section>
        </form>
        </section>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>